@use "@sass/abstracts/vars";
@use "@sass/abstracts/mixins";

.boxed {
    box-sizing: border-box;
    margin: 20px 0;
    @include mixins.respond-to(tablet) {
        padding: 10px;
    }
    @include mixins.respond-to(mobile) {
        padding: 10px;
    }
    >div {
        @include mixins.wrapper();
    }
}
