@use "sass:meta";
@use "@sass/abstracts/vars/colors";
@use "@sass/abstracts/mixins";

.promo {
    background: colors.$promo-bg;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    >.component-content {
        position: relative;
        @include mixins.clearfix();
        @include mixins.border-basic(all, colors.$promo-border);

        >div {
            padding: 5px;
        }
    }
    .zg-height-fix {
        .field-promoicon {
            margin-top: 100px;
        }
    }
    .field-promoicon {
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .field-promolink {
        margin-top: 5px;
        padding-bottom: 10px;
    }
    &.image-full-size {
        img {
            margin-bottom: 10px;
        }
    }
    @include meta.load-css("@sass/variants/promo");
    @include meta.load-css("@sass/base/richtext/richtext");
}
