@use "@sass/abstracts/vars/fontSizes";
@use "@sass/abstracts/vars/colors";
@use "@sass/abstracts/mixins";


.image {
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        display: inline-block;
        max-width: 100%;
    }
    span {
        display: block;
        font-style: italic;
        font-size: fontSizes.$font-small;
        color: colors.$image-caption-color;
    }
}
