@use "sass:meta";
@use "@sass/abstracts/vars/colors";
@use "@sass/abstracts/mixins";

.content, .rich-text {
    border: colors.$rich-content-border;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    @include meta.load-css("@sass/base/richtext");
}
.rich-text  {
    @include meta.load-css("@sass/variants/rich-text");
}
.content {
    @include meta.load-css("@sass/variants/page-content");
}
