@use "@sass/abstracts/mixins";
@use "variables";

footer {
  @include mixins.respond-to(mobile-large) {
    padding-top: 0;
  }
  .container-dark-background {
    background-color: #262626;
  }

  .contacts {
    font-size: variables.$text-size-14;

    a {
      color: mixins.$text-white;
    }

    p, span {
      color: mixins.$text-white;
    }
  }

  .indent-inner {
    padding: 65px;

    @include mixins.respond-to(mobile-large) {
      padding: 40px 0;
    }
  }
}
