@use "@sass/abstracts/vars";
@use "variables";
@use "@sass/abstracts/mixins";


.rich-text {
  font-size: variables.$text-size-16;

  @include mixins.respond-to(mobile-large) {
    padding: 0 30px 10px 30px;
    font-size: variables.$text-size-14;
  }
}
