@use '@sass/abstracts/vars/colors';
@use '@sass/abstracts/vars/margins';
@use '@sass/abstracts/mixins';
@use '~font-awesome/scss/mixins' as fa-mixins;
@use '~font-awesome/scss/variables';

.navigation.navigation-fat {
  background: colors.$bg-basic-color;
  @include mixins.border-basic();

  a {
    text-decoration: none;
  }

  nav > ul {
    list-style: none;
    padding: 10px 0;
    overflow: hidden;
  }

  .rel-level1 {
    margin: margins.$small-margin;
    padding: 0;
    display: inline-block;
    vertical-align: top;

    &.submenu ul a {
      position: relative;
      &:before {
        @include fa-mixins.fa-icon();
        transform: translateY(-50%);
        position: absolute;
        content: variables.$fa-var-chevron-right;
        top: 50%;
        left: -9px;
        font-size: 10px;
      }
    }
    > .navigation-title > a {
      @include mixins.border-basic(top, colors.$border-basic-color, 2px);
      border-bottom: 0;
      background: colors.$nav-bg-root;
      padding: 5px 10px;
      display: block;
      width: auto;
      &:hover {
        border-color: colors.$menu-hover-color;
      }
    }
    > ul {
      padding: 0;
    }
  }
  .rel-level2 {
    padding-left: margins.$small-margin;
    display: block;
  }
}

