<ng-container [ngTemplateOutlet]="variant"></ng-container>

<ng-template #default>
  <div class="component image {{ styles }}" [attr.id]="id" *ngIf="rendering.fields; else empty">
    <div class="component-content">
      <ng-container *ngIf="isEditing || !$any(rendering.fields)?.TargetUrl?.value?.href; else withLink">
        <img *scImage="$any(rendering.fields)?.Image" />
      </ng-container>
      <span class="image-caption field-imagecaption" *scText="$any(rendering.fields)?.ImageCaption"></span>
    </div>
  </div>
</ng-template>

<ng-template #banner>
  <div class="component hero-banner {{ styles }} {{ classHeroBannerEmpty }}" [attr.id]="id">
    <div class="component-content sc-sxa-image-hero-banner" [ngStyle]="backgroundStyle">
      <ng-container *ngIf="isEditing">
        <img *scImage="$any(modifyImageProps)" />
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #withLink>
  <a *scGenericLink="$any(rendering.fields)?.TargetUrl">
    <img *scImage="$any(rendering.fields)?.Image" />
  </a>
</ng-template>

<ng-template #empty>
  <div class="component image {{ styles }}">
    <div class="component-content">
      <span class="is-empty-hint">Image</span>
    </div>
  </div>
</ng-template>
