@use "@sass/abstracts/vars/colors";
@use "@sass/abstracts/mixins";

.button-default, .default {
    @include mixins.default-link-button();
    background: #f6f6f6;
    color: colors.$text-basic;
}
.button-success, .success {
    @include mixins.default-link-button();
    background: colors.$btn-green-light;
    color: colors.$text-white;
    &:hover {
        color: colors.$text-white;
        background: colors.$btn-green;
    }
}
.button-warning, .warning {
    @include mixins.default-link-button();
    background: colors.$btn-red;
    color: colors.$text-white;
    &:hover {
        color: colors.$text-white;
        background: colors.$btn-red-active;
    }
}
