@use "sass:meta";
@use 'sass/abstracts/vars/fontSizes';
@use 'sass/abstracts/vars/margins';
@use 'sass/abstracts/vars/colors';
@use 'sass/abstracts/mixins';

.title {
  background: mixins.$title-bg;

  h1,
  .field-title {
    @include mixins.border-basic(bottom, colors.$border-basic-color);
    font-size: fontSizes.$font-extrabig;
    margin-bottom: margins.$small-margin;
    color: colors.$title-color;
    line-height: normal;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: colors.$title-color-active;
    }

    > a,
    > span {
      text-decoration: none;
    }
  }

  @include meta.load-css('sass/variants/title');
}
