@use "sass:meta";
@use "@sass/abstracts/mixins" as abstracts-mixins;
@use "@sass/abstracts/vars";
@use '~font-awesome/scss/mixins' as scss-mixins;
@use "~font-awesome/scss/variables";

.link-list {
    background: abstracts-mixins.$link-list-bg;
    h1, h2, h3, h4, h5, h6 {
        @include abstracts-mixins.border-basic(bottom, abstracts-mixins.$link-list-header-border);
    }
    >.component-content {
        ul {
            background: abstracts-mixins.$link-list-items-bg;
        }
        li {
            background: abstracts-mixins.$link-list-item-bg;
            display: block;
            font-size: abstracts-mixins.$font-normal;
            a {
                display: inline;
                color: abstracts-mixins.$link-list-item-color;
                position: relative;
                padding-left: 10px;
                font-size: 1em;
                text-decoration: none;
                &:before {
                    @include scss-mixins.fa-icon();
                    content: variables.$fa-var-chevron-right;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 10px;
                }
                &:hover {
                    color: abstracts-mixins.$link-list-item-color-active;
                    text-decoration: none;
                    border-bottom: 1px solid abstracts-mixins.$link-list-item-border-active;
                }
            }
        }
    }
    @include meta.load-css("../../base/links");
    @include meta.load-css("../../variants/link-list");
}
