<div class="component-content">
  <ng-container *ngIf="rendering.fields; else empty">
    <div class="field-promoicon">
      <img *scImage="$any(rendering.fields.PromoIcon)" />
    </div>
    <div class="promo-text">
      <div>
        <div class="field-promotext">
          <div *scRichText="$any(rendering.fields.PromoText)"></div>
        </div>
      </div>
      <div class="field-promolink">
        <a *scGenericLink="$any(rendering.fields.PromoLink)"></a>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <span class="is-empty-hint">Promo</span>
</ng-template>
