@use 'sass/abstracts/vars';
@use "@sass/abstracts/mixins";


.container-gray-background {
  background: mixins.$bg-light-gray;
}
.container-clean-background {
  background: mixins.$bg-basic-color;
}
.container-dark-background {
  background: mixins.$bg-black-active;
}
.container-color-background {
  background: mixins.$bg-blue;
}
