@use 'sass/abstracts/vars';
@use "@sass/abstracts/mixins";

.indent {
  margin: 0 mixins.$extralarge-margin;
  &.col-xxl-12, &.col-xl-12, &.col-lg-12, &.col-md-12, &.col-12 {
    width: calc(100% - (mixins.$extralarge-margin * 2));
  }
}
.indent-top {
  margin-top: mixins.$middle-margin;
}
.indent-bottom {
  margin-bottom: mixins.$middle-margin;
}
